server {
    listen       80;
    location / {
        proxy_pass http://{{ prod_url }};
        error_page 404 500 501 502 503 504 = @fallback;
    }

    location @fallback {
        proxy_pass http://{{ test_url }};
    }
}

server {
    listen       8080;
    location / {
        proxy_pass http://{{ test_url }};
    }
}